{% extends "SchoolBuy/base.html" %}
{% block title %}首页{% endblock %}
{% block detial %}
<div class="king-equal-height" >
    <div class="king-eh-left">

        <h4 class="alert-success">认准官方邮件</h4>
        <h4 class="alert-danger">liyutong@xiyoulinux.org</h4>
        <h4 class="alert-success">谨防受骗</h4>
        <h3>捐赠我们</h3>
        <img src="/static/SchoolBuy/images/PayPal.jpg" width="200" height="200">支付宝<br>
        <img src="/static/SchoolBuy/images/wechatpay.png" width="200" height="200">微信<br>

    </div>
    <div class="king-eh-content">
        <h3>
            校园买，让你的闲置发挥余热！！
        </h3>

    </div>
    <div class="king-eh-right">
        <h4 class="alert-dismissable-">广告位招租，联系<a href="mailto:liyutong@xiyoulinux.org">我们</a></h4>

        <h4 class="alert-dismissable-">有任何建议或意见，也可以联系<a href="mailto:liyutong@xiyoulinux.org">我们</a></h4>
    </div>
</div>
{% endblock %}